@import url("https://use.typekit.net/ril2vdl.css");
@import url("https://use.typekit.net/ril2vdl.css");

body {
    padding: 1rem;
}

p {
    font-size: 1rem;
    font-family: "orpheuspro", serif;
    font-weight: 800;
    font-style: italic;
    color: rgb(70, 68, 68);
}

.top {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    padding-left: 1%;
    padding-right: 1%;
    background: white;
}

h1 {
    font-size: 1.1rem;
    font-family: "orpheuspro", serif;
    font-weight: 800;
    color: rgb(41, 41, 41);
    padding-top: 7%;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 1rem;
    line-height: 1.3rem;
}

.author {
    margin: auto;
    font-style: italic;
    font-family: "orpheuspro", serif;
    font-weight: 800;
}

.para {
    padding-top:4%;
    margin: auto;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    font-size: 0.8rem;
    line-height: 1rem;
    font-family: "orpheuspro", serif;
    font-weight: 200;
    font-style: italic;
    position: fixed;
    color: rgb(41, 41, 41);
    bottom: 0;
    padding-bottom: 1rem;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    float: left;
    max-width: 100%;
    left: 0;
    right: 0;
    background: white;
    padding-left:2%;
}

em {
    background-color: rgb(246, 222, 136);
    text-decoration: none;
    font-style:normal;
}

@media (min-width: 500px) {
    h2 {
        max-width: 75%;
    }
}

@media (min-width: 700px) {
    h2 {
        max-width: 55%;
    }
}

@media (min-width: 900px) {
    h2 {
        max-width: 40%;
    }
}