/*@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');*/
@import url("https://use.typekit.net/ril2vdl.css");
@import url("https://use.typekit.net/ril2vdl.css");

@media screen {
    p {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-family: "orpheuspro", serif;
        font-weight: 800;
        font-style: italic;
        justify-content: center;
        display: flex;
        margin: auto;
        color: rgb(41, 41, 41);
    }

    a {
        font-size: 2rem;
        font-family: "orpheuspro", serif;
        font-weight: 400;
        font-style: italic;
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        color: rgb(41, 41, 41);
    }

    button {
        margin: auto;
        display:flex;
        margin-top:45vh;
        position: sticky;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: black;
        padding: 0;
        border: none;
        background: none;
        }
    
}

@media (max-width: 525px) {

    .a, .b, .c , .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
        display:none;
    }

    button:hover .author,
    button .failure,
    button .embracing,    
    button .context,
    button .delivery,
    button .discussion,
    button .boundaries,
    button .purpose,
    button .research,
    button .knowing,
    button .attention,
    button .intentionality,
    button .pespectives,
    button .necessity,
    button .introspection,
    button .inclusivity,
    button .silliness,
    button .refinement,
    button .narration,
    button .ambiguity,
    button .provision,
    button .responding,
    button .laughing,
    button .building,
    button .reinventing,
    button .evolution,
    button .freedom,
    button .intro {
        display: none;
    }

}

/*freedom*/
@media (min-width:525px) {

    .a, .b, .c , .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
        display:none;
    }

    button:hover .author,
    button .embracing,    
    button .context,
    button .delivery,
    button .discussion,
    button .boundaries,
    button .purpose,
    button .research,
    button .knowing,
    button .attention,
    button .intentionality,
    button .pespectives,
    button .necessity,
    button .introspection,
    button .inclusivity,
    button .silliness,
    button .refinement,
    button .narration,
    button .ambiguity,
    button .provision,
    button .responding,
    button .laughing,
    button .building,
    button .reinventing,
    button .evolution,
    button .freedom,
    button .intro {
        display: none;
    }

    button .failure {
        display: inline;
    }
}

/*evolution*/
@media (min-width:575px) {

    .b, .c , .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
        display:none;
    }

    .a {
        padding: 0;
        display: flex;
    }

    button:hover .author,
    button .failure,    
    button .context,
    button .delivery,
    button .discussion,
    button .boundaries,
    button .purpose,
    button .research,
    button .knowing,
    button .attention,
    button .intentionality,
    button .pespectives,
    button .necessity,
    button .introspection,
    button .inclusivity,
    button .silliness,
    button .refinement,
    button .narration,
    button .ambiguity,
    button .provision,
    button .responding,
    button .laughing,
    button .building,
    button .reinventing,
    button .evolution,
    button .freedom,
    button .intro {
        display: none;
    }
    
    button .embracing {
        display: inline;
    }
}

    /*reinventing*/
    @media (min-width:600px) {

        .a, .c , .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .b {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .context  {
            display: inline;
            }
    }

    /*resourcefulness*/
    @media (min-width:625px) {

        .a, .b , .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .c {
            padding: 0;
            display: flex;
        }
    
        button .failure, 
        button .embracing,
        button .context,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .delivery {
            display: inline;
            }
    }

    /*laughter*/
    @media (min-width:650px) {

        .a, .b , .c, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .d {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .discussion {
            display: inline;
            }
    }

    /*response*/
    @media (min-width:675px) {

        .a, .b , .c, .d, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .e {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
        }
        
        button .boundaries {
            display: inline;
        }
    }

    /*provision*/
    @media (min-width:700px) {

        .a, .b , .c, .d, .e, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .f {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
        }
        
        button .purpose {
            display: inline;
        }
    }

     /*ambiguity*/
    @media (min-width:725px) {

        .a, .b , .c, .d, .e, .f, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .g {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .research {
            display: inline;
        }
    }

   /*narration*/
    @media (min-width:750px) {

        .a, .b , .c, .d, .e, .f, .g, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .h {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .knowing {
            display: inline;
        }
    }

    /*refinement*/
    @media (min-width:775px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .i {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .attention {
            display: inline;
        }
    }

    /*balance*/
    @media (min-width:800px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .k, .l, .m, .n, .o, .j, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .p {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .intentionality {
            display: inline;
        }
    }

     /*inclusivity*/
    @media (min-width:825px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .k {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
        }
        
        button .pespectives {
            display: inline;
        }
    }

    /*introspection*/
    @media (min-width:850px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .l {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .introspection {
            display: inline;
        }
    }

   /*necessity*/
    @media (min-width:875px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .m {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .necessity {
            display: inline;
        }
    }

    /*perspectives*/
    @media (min-width:900px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .n {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .inclusivity {
            display: inline;
        }
    }

    /*intention*/
    @media (min-width:925px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .o {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .refinement {
            display: inline;
        }
    }

    /*awareness*/
    @media (min-width:950px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .k, .l, .m, .n, .o, .j, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .p {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .silliness {
            display: inline;
        }
    }

/*timing*/
    @media (min-width:975px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .q {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .narration {
            display: inline;
        }
    }

    /*purpose*/
    @media (min-width:1000px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .r {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .attention {
            display: inline;
        }
    }

    /*boundaries*/
    @media (min-width:1025px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .s {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .ambiguity {
            display: inline;
        }
    }

    /*discussion*/
    @media (min-width:1050px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .u, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .t {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .provision {
            display: inline;
        }
    }

    /*deliverables*/
    @media (min-width:1075px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .v, .w, .x, .y, .z {
            display:none;
        }
    
        .u {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .responding {
            display: inline;
            }
    }

    /*context*/
    @media (min-width:1100px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .w, .x, .y, .z {
            display:none;
        }
    
        .v {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .laughing {
            display: inline;
        }
    }

    /*deliverables*/
    @media (min-width:1125px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .x, .y, .z {
            display:none;
        }
    
        .w {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .building {
            display: inline;
            }
    }

    /*context*/
    @media (min-width:1150px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .y, .z {
            display:none;
        }
    
        .x {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .evolution,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .reinventing {
            display: inline;
            }
    }

    /*embracing*/
    @media (min-width:1175px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .z {
            display:none;
        }
    
        .y {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .freedom,
        button .intro {
            display: none;
            }
        
        button .evolution {
            display: inline;
        }
    }
    
    /*failure*/
    @media (min-width:1200px) {

        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y {
            display:none;
        }
    
        .z {
            padding: 0;
            display: flex;
        }
    
        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .attention,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .intro {
            display: none;
            }
        
        button .freedom {
            display: inline;
        }
    }

    /*intro*/
    @media (min-width:1225px) {
        .a, .b , .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
            display:none;
        }

        button:hover .author,
        button .failure, 
        button .embracing,
        button .context,
        button .delivery,
        button .discussion,
        button .boundaries,
        button .purpose,
        button .research,
        button .knowing,
        button .intentionality,
        button .pespectives,
        button .necessity,
        button .introspection,
        button .inclusivity,
        button .silliness,
        button .refinement,
        button .narration,
        button .ambiguity,
        button .provision,
        button .responding,
        button .laughing,
        button .building,
        button .reinventing,
        button .evolution,
        button .freedom,
        button .attention,
        button .author
        {
            display: none;
            }

        button .intro {
            font-family: "orpheuspro", serif;
            font-weight: 400;
            font-style: italic;
            font-size: 2.5rem;
            line-height: 3rem;
            display: flex;
            flex-direction: column;
            padding-top: 5rem;
        }

        .howto {
            font-family: "orpheuspro", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1rem;
            padding-top: 3rem;
        }

        div {
            max-width: 60%;
            max-height: 0;
            margin: auto;
        }

        a {
            color: rgb(20, 20, 20);
        }

        html {
            background-color: rgb(254, 241, 193);
        }
    }



    /* hidden hover */
    /* button:hover .author,
        button .failure, button:hover .failure,
        button .embracing, button:hover .embracing, 
        button .context,    
        button .delivery, button:hover .delivery,
        button .discussion, button:hover .discussion,
        button .boundaries, button:hover .boundaries,
        button .purpose, button:hover .purpose,
        button .research, button:hover .research,
        button .knowing, button:hover .knowing,
        button .attention, button:hover .attention,
        button .intentionality, button:hover .intentionality,
        button .pespectives, button:hover .pespectives,
        button .necessity, button:hover .necessity,
        button .introspection, button:hover .introspection,
        button .inclusivity, button:hover .inclusivity,
        button .silliness, button:hover .silliness,
        button .refinement, button:hover .refinement,
        button .narration, button:hover .narration,
        button .ambiguity, button:hover .ambiguity,
        button .provision, button:hover .provision,
        button .responding, button:hover .responding,
        button .laughing, button:hover .laughing,
        button .building, button:hover .building,
        button .reinventing, button:hover .reinventing,
        button .evolution, button:hover .evolution */